$font-size: 1rem;
$background-color: white;
$font-color: #dae0e0;
$page-width: auto;
$grey: #605E5A;
$danger-button: red;
$red: #dd2234;
$green: #28a745;
$milky: #dbdbdb;
$white: #ffffff;
$yellow: #feb300;
$blue: #0366ee;
$margenta: #4713AFFF;

@mixin fmob {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin ftab {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin fdesk {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
